.searchBox {
    -fx-background-color: white;
    -fx-prompt-text-fill: gray;
	-fx-padding: 5;
}

.button {
    -fx-background-color: #650808;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-alignment: CENTER;
    -fx-padding: 5px;
}

.title {
    -fx-text-fill:#650808;
    -fx-font-size: 25px;
    -fx-font-family: Arial;
    -fx-alignment: BOTTOM_LEFT;
}

.table-view .column-header .label {
    -fx-background-color: white;
    -fx-text-fill: #650808;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-alignment: LEFT;
    -fx-padding: 5px;
}

.table-row-cell:even {
    -fx-background-color:#84424720

}